NODE_ENV=development
PORT=3001
DATABASE_URL=postgresql://billing:billing@localhost:5433/billing?schema=public
RABBITMQ_URL=amqp://workorder:workorder@localhost:5672
RABBITMQ_QUEUE=billing_queue
JWT_SECRET=change-me
MERCADO_PAGO_ACCESS_TOKEN=

# Datadog
DD_API_KEY=
DD_APP_KEY=
DD_SITE=datadoghq.com
DD_ENV=development
DD_SERVICE=billing-service
DD_VERSION=
DD_AGENT_HOST=localhost
DD_ALERT_HANDLE=
